@import "tailwindcss";

/* Basic reset */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrollbar */
}

/* Ensure buttons don't have default gray backgrounds */
button {
  background-color: transparent;
}
